.home-container {
  display: flex;
  flex-direction: row;
}
.map-container {
  width: 600px;
  height: auto;
  background-color: var(--danger);
}

.home-content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2vh 0;
}

#home-title {
  flex-direction: column;
}
#home-title > p {
  text-align: center;
}
