.location-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  margin: 2vh 5vw;
}

.twocol-btn {
  grid-column: span 2;
}

#modify-btn {
  display: flex;
  justify-content: center;
}
